@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html {
  background-color: rgb(204, 204, 204);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 0;
}

body {
  align-items: center;
  line-height: 1.4;
  font-weight: normal;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

a, a:visited {
  color: rgb(0, 51, 204);
}

a:hover {
  color: rgb(0, 51, 153);
}

strong {
  font-family: sans-serif;
  font-weight: 400;
}

em, i {
  font-style: italic;
}

h1, h2, h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  clear: both;
  text-transform: uppercase;
}

header, main {
  background-color: rgb(255, 255, 255);
  max-width: 66em;
  width: 100%;
}

header {
  border-top: 3em solid rgb(0, 51, 153);
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}
header h1 {
  font-size: 3.2rem;
  margin-bottom: 0;
  margin-top: 0.5em;
  text-align: center;
}
header h2 {
  color: rgb(102, 102, 102);
  font-size: 1.6rem;
  margin-top: 0;
  letter-spacing: 0.125em;
  text-align: center;
}
header ul.web-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 1.4rem;
  font-style: normal;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
header ul.web-links li {
  display: inline-block;
}
header ul.web-links li a {
  margin: 0 0.5em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
header ul.web-links li a:link, header ul.web-links li a:visited, header ul.web-links li a:active {
  color: #666;
}
header ul.web-links li a:hover {
  color: #000;
  -webkit-transform: translate(0, -1px);
  -moz-transform: translate(0, -1px);
  transform: translate(0, -1px);
}
header ul.web-links li a span {
  font-size: 1rem;
  display: block;
}
header ul.web-links.print {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}
main #summary {
  padding: 0 2em;
}
main section {
  margin: 0;
  padding: 0 1.5em;
}
main section h2 {
  border-bottom: 1px solid rgb(102, 102, 102);
  font-size: 1.4rem;
}
main section ul {
  margin-left: 0;
  padding-left: 1.25em;
}
main section dl {
  display: flex;
  flex-wrap: wrap;
}
main section dl dt, main section dl dd {
  margin: 0;
}
main section dl dt {
  color: #c60;
  font-weight: 600;
  width: 66%;
}
main section dl dt span {
  color: rgb(0, 0, 0);
  font-weight: 400;
}
main section dl dt + dd {
  text-align: right;
  width: 33%;
}
main section dl dd.description {
  width: 100%;
}
main section dl dd + dt, main section dl dd + dt + dd {
  margin-top: 1em;
}

@media only screen and (max-width: 36em) {
  header h1 {
    font-size: 2.4rem;
  }
  header h2 {
    font-size: 1.4rem;
    letter-spacing: normal;
  }
  header ul.web-links li a span {
    display: none;
  }
}
@media print {
  html {
    background: transparent;
    color: black;
  }
  body {
    font-size: 0.75rem;
  }
  header {
    border: none;
    flex-direction: row;
    flex-wrap: wrap;
  }
  header h1 {
    font-size: 2rem;
    margin-top: 0;
    width: 50%;
    text-align: left;
  }
  header h2 {
    font-size: 1.2rem;
    margin: 0;
    width: 50%;
    letter-spacing: normal;
    padding-top: 0.5em;
    text-align: right;
  }
  header ul.web-links {
    display: none;
  }
  header ul.web-links.print {
    border-top: 1pt dotted black;
    padding: 0.25em 0;
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
    width: 100%;
  }
  header ul.web-links.print li {
    flex-basis: 30%;
  }
  header ul.web-links.print li:nth-child(2), header ul.web-links.print li:nth-child(5) {
    text-align: center;
  }
  header ul.web-links.print li:nth-child(3), header ul.web-links.print li:nth-child(6) {
    text-align: right;
  }
  main section {
    padding: 0;
  }
  main section h2 {
    color: black;
    font-size: 1rem;
    margin-bottom: 0;
    border-bottom: 1px dotted black;
  }
  main section dl {
    margin-top: 0.5em;
  }
  main section dl dt {
    color: black;
  }
  main section dd.description ul {
    margin: 0.25em;
  }
}

/*# sourceMappingURL=resume2.css.map */
