 body { padding: 1em; }
 h1 { margin-bottom: .5em; }
 h6 a { float: right; margin-bottom: .5em; }

#blanket {
    box-sizing: border-box;
    width: 100%;
}
#blanket.lined {
    border: 2px solid white;
}

.blanketRow {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 1em;
}

#blanket.lined .blanketRow {
    border-bottom: 2px solid white;
}

.blanketRow:first-of-type { 
    border-bottom: none;
}

.card { margin-bottom: 2em; }

#showLinesRow { margin: 0; }

#colorContainer .badge { margin-right: 1em; }

textarea.form-control { 
    font-family: monospace;
    font-size: 1.2rem;
    height: 8em; 
}