@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css";
body {
  font-size: 1.2rem;
}
.highlight {
  background-color: #eceeef;
  padding: 1em;
}
.form-group:last-child {
  margin-bottom: 0;
}
th,
td {
  text-align: center;
  width: 33%;
}
td span {
  font-family: monospace;
  font-size: large;
  padding: 0 0.5em;
}
