 body { padding: 1em; }
 
 h1, h6 { 
    text-align: center;
 }
 h1 { margin-bottom: 0em; }
 h6 { margin-bottom: 1em; }
 h6 span { font-family: monospace; color: red; }

 #downloadButtonContainer {
     padding: 1em;
     text-align: center;
 }

#blanket { 
    display: table; 
    font-size: 1.2rem;
    margin: auto;
 }
.blanket-row { display: table-row; }
.blanket-square { 
    display: table-cell;
    height: 1.5em;
    vertical-align: middle;
    width: 1.5em; 
}

.blanket-circle {
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
.blanket-circle.small { 
    height: .5em; 
    width: .5em; 
}
.blanket-circle.large { 
    height: .8em; 
    width: .8em; 
}

.hidden { display: none; }